# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.spec

# Jupyter Notebook
.ipynb_checkpoints


# PyCharm specific settings
.idea/

# MacOS specific
.DS_Store
